{% extends 'web/main.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
        {% include 'web/page_title.html' with title="Contact us" %}
        <!-- ################# Our Blog Starts Here#######################--->

        <div style="margin-top: 0px" class="row no-margin">
            <iframe
                style="width: 100%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14008.112313568221!2d77.2065321873953!3d28.628920553059455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd37b741d057%3A0xcdee88e47393c3f1!2sConnaught%20Place%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1610993676049!5m2!1sen!2sin"
                height="450"
                frameborder="0"
                style="border: 0"
                allowfullscreen
            ></iframe>
        </div>

        <div class="row contact-rooo no-margin">
            <div class="container">
                <div class="row">
                    <div style="padding: 20px" class="col-sm-6">
                        <h2 style="font-size: 18px">Contact Form</h2>
                        <div class="row">
                            <div style="padding-top: 10px" class="col-sm-3">
                                <label>Enter Name :</label>
                            </div>
                            <div class="col-sm-8">
                                <input
                                    type="text"
                                    placeholder="Enter Name"
                                    name="name"
                                    class="form-control input-sm"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="row">
                            <div style="padding-top: 10px" class="col-sm-3">
                                <label>Email Address :</label>
                            </div>
                            <div class="col-sm-8">
                                <input
                                    type="text"
                                    name="name"
                                    placeholder="Enter Email Address"
                                    class="form-control input-sm"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="row">
                            <div style="padding-top: 10px" class="col-sm-3">
                                <label>Mobile Number:</label>
                            </div>
                            <div class="col-sm-8">
                                <input
                                    type="text"
                                    name="name"
                                    placeholder="Enter Mobile Number"
                                    class="form-control input-sm"
                                />
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="row">
                            <div style="padding-top: 10px" class="col-sm-3">
                                <label>Enter Message:</label>
                            </div>
                            <div class="col-sm-8">
                                <textarea
                                    rows="5"
                                    placeholder="Enter Your Message"
                                    class="form-control input-sm"
                                ></textarea>
                            </div>
                        </div>
                        <div style="margin-top: 10px" class="row">
                            <div style="padding-top: 10px" class="col-sm-3">
                                <label></label>
                            </div>
                            <div class="col-sm-8">
                                <button class="btn btn-danger btn-sm">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div style="margin: 50px" class="serv">
                            <h2 style="margin-top: 10px">Address</h2>

                            Smart Hospital <br />
                            Daman Street<br />
                            K.K District<br />
                            Phone:+91 9159669599<br />
                            Email:info@smart-eye.in<br />
                            Website:www.smart-eye.com<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}