{% load static %}
<!-- ################# Footer Starts Here#######################--->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    We are one of the leading providers of Healthcare staffing
                    solutions PAN India, offering a wide range of Healthcare and
                    medical jobs. Hiring the right people at the right time is
                    what we do. We serve the employer as well as an employee to
                    fulfill their requirements.
                </p>
                <p>
                    If you are an employer, we offer you the entire recruitment
                    process including background verification, which will save
                    your valuable time and recruitment cost.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li>
                        <a ui-sref="about" href="{% url 'web:about' %}"
                            >About us</a
                        ><i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a ui-sref="portfolio" href="{% url 'web:services' %}"
                            >Services</a
                        ><i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a ui-sref="products" href="{% url 'web:blog' %}"
                            >Blog</a
                        ><i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a ui-sref="gallery" href="{% url 'web:gallery' %}"
                            >Gallery</a
                        ><i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a ui-sref="contact" href="{% url 'web:contact' %}"
                            >Contact us</a
                        ><i class="fa fa-angle-right"></i>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    Hospital Jobs Delhi <br />
                    Akshardjam (K.K District) <br />
                    New Delhi, IND <br />
                    Pin: 110021 <br/>
                    Phone: +91-9718706679 <br />
                    Email:
                    <a href="mailto:info@anybiz.com" class=""
                        >hospitaljobsdelhi@gmail.com</a
                    ><br />
                    Web:
                    <a href="smart-eye.html" class=""
                        >www.hospitaljobsdelhi.com</a
                    >
                </address>
            </div>
        </div>
    </div>
</footer>
<div class="copy">
    <div class="container">
        <a href="https://www.smarteyeapps.com/"
            >2015 &copy; All Rights Reserved
            <!-- | Designed and Developed by
            Smarteyeapps -->
        </a>

        <span>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
            <a><i class="fab fa-pinterest-p"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>
</div>
<script src="{% static 'web/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'web/js/popper.min.js' %}"></script>
<script src="{% static 'web/js/bootstrap.min.js' %}"></script>
<script src="{% static 'web/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'web/js/script.js' %}"></script>
