{% extends 'web/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include 'web/slider.html' %}
    {% include 'web/key_features.html' %}
    {% include 'web/with_medical.html' %}
    {% include 'web/our_departments.html' %}
    {% include 'web/our_blogs.html' %}
    <!-- {{myform.sollicitanten}}
    {{myform.vacature_contract}}
    <script>
        let myDropdown = document.getElementById('id_sollicitanten');
        myDropdown.onchange = () => document.getElementById('id_vacature_contract').value = myDropdown.value;
    </script> -->
{% endblock %}