<!-- ################# Key Features Starts Here#######################--->
<section class="key-features">
    <div class="row no-margin">
        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-1">
                <i class="fas fa-hospital-alt"></i>
                <h5>DOCTORS RECRUITMENT</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec ut erat nec leo lobortis blandit.
                </p>
            </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <h5>MANAGEMENT STAFF RECRUITMENT</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec ut erat nec leo lobortis blandit.
                </p>
            </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <h5>MEDICAL COLLEGE RECRUITMENT</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec ut erat nec leo lobortis blandit.
                </p>
            </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <h5>NURSES & PARAMEDICAL  
                    RECRUITMENT</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec ut erat nec leo lobortis blandit.
                </p>
            </div>
        </div>
    </div>
</section>
