{% load static %}
<!-- ################# Our Team Starts Here#######################--->
<section class="our-team">
    <div class="container">
        <div class="inner-title">
            <h2>Meet our Team</h2>
            <p>Take a look at our innovative and experiance team</p>
        </div>
        <div class="row team-member">
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img
                            class="teammempic"
                            alt=""
                            src="{% static 'web/images/team/team-memb1.jpg' %}"
                        />
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <ul>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-facebook-f fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-twitter fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-google-plus-g fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-github fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-pinterest-p fa-lg"></i
                                ></a>
                            </li>
                        </ul>
                        <br />
                        <p>
                            3+ Years of Experiance in PHP with good innovative
                            Ideas
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img
                            class="teammempic"
                            alt=""
                            src="{% static 'web/images/team/team-memb2.jpg' %}"
                        />
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <ul>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-facebook-f fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-twitter fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-google-plus-g fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-github fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-pinterest-p fa-lg"></i
                                ></a>
                            </li>
                        </ul>
                        <br />
                        <p>
                            3+ Years of Experiance in PHP with good innovative
                            Ideas
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img
                            class="teammempic"
                            alt=""
                            src="{% static 'web/images/team/team-memb3.jpg' %}"
                        />
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <ul>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-facebook-f fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-twitter fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-google-plus-g fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-github fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-pinterest-p fa-lg"></i
                                ></a>
                            </li>
                        </ul>
                        <br />
                        <p>
                            3+ Years of Experiance in PHP with good innovative
                            Ideas
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img
                            class="teammempic"
                            alt=""
                            src="{% static 'web/images/team/team-memb4.jpg' %}"
                        />
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <ul>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-facebook-f fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-twitter fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-google-plus-g fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-github fa-lg"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fab fa-pinterest-p fa-lg"></i
                                ></a>
                            </li>
                        </ul>
                        <br />
                        <p>
                            3+ Years of Experiance in PHP with good innovative
                            Ideas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>