{% extends 'web/form-main.html' %}
{% block myform %}
<div class="col-sm-5 order-first pt-5">
    <form class="form-data" method="POST" action="{% url 'web:recruit' %}">
        {% csrf_token %}
        <div class="form-head pt-3">
            <h2>Submit Job Requirement</h2>
        </div>
        <div class="form-body">
            <div class="row form-row">
                <div class="col-sm-6 pl-sm-0">
                    {{posting_form.first_name}}
                </div>
                <div class="col-sm-6 pr-sm-0">
                    {{posting_form.last_name}}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-12 px-sm-0">
                    {{posting_form.organization_name}}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-sm-7 pl-sm-0">
                    {{posting_form.contact_email}}
                </div>
                <div class="col-sm-5 pr-sm-0">
                    {{posting_form.contact_no}}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-12 px-sm-0">
                    {{posting_form.required_qualification}}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-sm-6 pl-sm-0">
                    {{posting_form.required_experience}}
                </div>
                <div class="col-sm-6 pr-sm-0">
                    {{posting_form.salary_offering}}
                </div>
            </div>
            <div class="row form-row">
                <button class="btn btn-success btn-appointment">
                    Post Requirement
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}