{% load static %}
<!-- ################# With Medical Starts Here#######################--->
<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <h4>
                    Why choose Hospitaljobsdelhi <br />
                    <span>Hospital Hirings</span>
                </h4>
                <hr/>
                <p>
                    We are one of the leading providers of Healthcare staffing
                    solutions PAN India, offering a wide range of Healthcare and
                    medical jobs. Hiring the right people at the right time is
                    what we do. We serve the employer as well as an employee to
                    fulfill their requirements. If you are an employer, we offer
                    you the entire recruitment process including background
                    verification, which will save your valuable time and
                    recruitment cost.
                </p>
                <p>
                    If you are a doctor looking for a
                    placement, we offer a variety of positions in the healthcare
                    industry, including as Doctors, Specialist Doctors,
                    Professors etc based on your requirements.
                </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'web/images/why.jpg' %}" alt="" />
            </div>
        </div>
    </div>
</section>
